.post-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.post-title {
  margin-bottom: 8px;
}
.post-body {
  text-align: justify;
}
